style(type="text/css").
    h1 {
        color: red;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
    }

    div {
        background: silver;
    }
div
    h1 #{title}
    p Please RSVP, #{firstName}!
    p Click here: https://example.com/#{token}

